<!-- ======= Header ======= -->

<header id="header" class="header d-flex align-items-center ">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="/events" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!--<img src="assets/img/logo.png" alt="">-->
            <h1>e-evenement</h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/events">Evènements</a></li>
                <!--<li><a href="/my-event/1">Mes évènements</a></li>-->
                <li><a href="/login">Se connecter</a></li>
                <!--<li><a href="#" data-toggle="dropdown">John<span
                        class="sidebar-collapse-icon ti-angle-down"></span></a></li>-->
                <!--<div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                  <div class="dropdown-content-heading">
                    <span class="text-left">Upgrade Now</span>
                    <p class="trial-day">30 Days Trail</p>
                  </div>
                  <div class="dropdown-content-body">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="ti-user"></i>
                          <span>Profile</span>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="ti-email"></i>
                          <span>Inbox</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="ti-settings"></i>
                          <span>Setting</span>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="ti-lock"></i>
                          <span>Lock Screen</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="ti-power-off"></i>
                          <span>Logout</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>-->
            </ul>
        </nav><!-- .navbar -->


        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header><!-- End Header -->
<!-- End Header -->