<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Connexion</h5>
        <p class="text-danger text-center" th:text="${error}"></p>
        <form class="row g-3 needs-validation" method="post" th:action="@{/login}" th:object="${loginDTO}" novalidate>
            <div class="col-md-12 position-relative">
                <label for="validationTooltipUsername" class="form-label">Email</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                    <input type="email" th:field="*{email}" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                    <div class="invalid-tooltip">
                        Please choose a unique and valid email.
                    </div>
                </div>
            </div>
            <div class="col-md-12 position-relative">
                <label for="validationTooltip03" class="form-label">Password</label>
                <input type="password" th:field="*{password}" class="form-control" id="validationTooltip03" required>
                <div class="invalid-tooltip">
                    Please provide a valid password.
                </div>
            </div>

            <div class="col-12 text-center">
                <button class="btn btn-primary " type="submit">Se connecter</button>
            </div>
        </form>
        <div class="col-12 text-center">
            <a href="/register" class="card-link" >Nouveau? s'inscrire</a>
        </div>

    </div>
</div>

</body>
</html>
