<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="assets/css/style1.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img"  style="background-image: url(/assets/img/event.jpeg);">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">E-EVENT</h3>
			      		</div>
			      	</div>
							<p class="text-danger text-center" th:text="${error}"></p>
							<form method="post" th:action="@{/login}" th:object="${loginDTO}" class="signin-form">
							<div class="form-group mb-3">
								<label class="label" for="name">EMAIL</label>
								<input type="email" th:field="*{email}" class="form-control" placeholder="EMAIL" id="name" required>
							</div>
						<div class="form-group mb-3">
							<label class="label" for="password">Password</label>
						  <input type="password" th:field="*{password}" class="form-control" placeholder="Password" id="password" required>
						</div>
						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary rounded submit px-3">CONNEXION</button>
						</div>
						<div class="form-group d-md-flex">
							<div class="w-50 text-left">
								<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
											</label>
										</div>
										<div class="w-50 text-md-right">
											<a href="#">Mot de passe oublié?</a>
										</div>
							</div>
		          		</form>
		          <p class="text-center">Nouveau? <a  href="/register">S'inscrire</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/popper.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/main1.js"></script>

	</body>
</html>

